<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Veterinary Clinic</title>
  <link rel="stylesheet" href="src/style/main.sass" media="screen">
</head>
<body>
  <div class="container">
    <div class="logo">
      <a href="#">Guia do pet</a>
    </div>
    <div id="app" class="app-container"></div>
  </div>

  <script id="filter-home-view" type="text/template">
    <div class="filter">
      <input type="text" placeholder="Buscar" id="search">
    </div>
  </script>

  <script id="home-view" type="text/template">
    <div class="list">
      <h4 class="title">
        <a href="#/<%= id %>"><%= name %></a>
      </h4>
      <div class="info">
        <p class="paragraph nowrap"><%= details.address %></p>
        <a href="tel:<%= details.phone %>">
          <span class="phone"><%= details.phone %></span>
        </a>
        <a href="mailto:<%= details.email %>">
          <span class="email"><%= details.email %></span>
        </a>
      </div>
    </div>
  </script>

  <script id="single-view" type="text/template">
    <div class="single">
      <a href="#" class="back">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 7 7" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><g><g><path class="arrow" d="M5.76 3.62667c0.117819,0 0.213335,-0.0955157 0.213335,-0.213335 0,-0.117819 -0.0955157,-0.213335 -0.213335,-0.213335l-4.69334 0c-0.117819,0 -0.213335,0.0955157 -0.213335,0.213335 0,0.117819 0.0955157,0.213335 0.213335,0.213335l4.69334 0z"/><path class="arrow" d="M2.4487 5.09704c0.0833031,0.0833031 0.218366,0.0833031 0.301669,0 0.0833031,-0.0833031 0.0833031,-0.218366 0,-0.301669l-1.38204 -1.38204 1.38204 -1.38204c0.0833031,-0.0833031 0.0833031,-0.218366 0,-0.301669 -0.0833031,-0.0833031 -0.218366,-0.0833031 -0.301669,0l-1.53163 1.53163 -0.00125984 0.00122835c-0.083311,0.083311 -0.083311,0.21839 0,0.301701l1.5748e-005 -1.5748e-005 1.53287 1.53288z"/></g></g><rect class="fil1" width="6.82666" height="6.82666"/></svg>
        <span>VOLTAR</span>
      </a>
      <div class="single-content">
        <h1 class="title"><%= name %></h1>
        <div class="description">
          <p><%= details.description %></p>
        </div>
        <div class="single-info">
          <h4 class="subtitle">Informações gerais</h4>
          <div class="details">
            <p>
              <b>Telefone:</b> <a href="tel:<%= details.phone %>"><%= details.phone %></a>
            </p>
            <p>
              <b>E-mail:</b> <a href="mailto:<%= details.email %>"><%= details.email %></a>
            </p>
            <p>
              <b>Endereço:</b> <a href="https://www.google.com.br/maps/place/<%= details.address %>" target="_blank"><%= details.address %></a>
            </p>
          </div>
          <h4 class="subtitle">Horário de funcionamento</h4>
          <div class="hours">
            <% _.each(details.hours, (item, i) => { %>
              <p><b><%= item.label %></b> <%= item.value %></p>
            <%}) %>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/javascript" src="src/js/app.js"></script>
</body>
</html>
