@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans')

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video
  border: 0
  font: inherit
  font-size: 100%
  margin: 0
  padding: 0
  vertical-align: baseline

ul,
li
  list-style-type: none

html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: 'Open Sans', sans-serif
  font-size: 62.5%
  line-height: 1.4
  text-rendering: optimizeLegibility

  *
    user-select: none

*,
*::before,
*::after
  box-sizing: border-box

body
  font-size: 1.6rem
  padding: 0
  background: #f7f9f9

input,
textarea,
select,
a,
button
  outline: none
  font-family: inherit

  &:focus
    outline: none

a
  text-decoration: none
