.default-text
  color: $text
  font-size: 1.4rem

.container
  width: 100%
  max-width: 1080px
  display: block
  margin: auto
  padding: 20px

  .logo
    margin-bottom: 20px

    a
      text-transform: uppercase
      font-size: 1.6rem
      font-family: 'Arimo', sans-serif
      color: $primary
      font-weight: bold

  .app-container
    +flexbox(row wrap, space-between, center, stretch)

  .filter
    width: 100%
    display: block
    margin-bottom: 20px

    input
      width: 100%
      height: 40px
      background: $white
      padding: 0 20px
      border-radius: 4px
      box-shadow: none
      border: 1px solid transparent
      transition: border-color .6s
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, .1)
      @extend .default-text

      &:focus
        border-color: $primary

  .list
    width: 100%
    margin-bottom: 20px
    background: $white
    padding: 20px
    border-radius: 4px
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .1)
    transition: box-shadow .6s

    &:hover
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, .2)

    +sm
      width: calc(100% / 2 - 8px)

  .title
    margin-bottom: 10px

    a
      color: $primary
      font-size: 1.6rem
      font-weight: bold
      letter-spacing: .5px

  .info
    .paragraph
      margin-bottom: 10px
      @extend .default-text

      &.nowrap
        width: 100%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .phone,
    .email
      color: darken($primary, 5%)
      font-size: 1.4rem
      display: block
      transition: color .6s

      &:hover
        color: darken($primary, 10%)

  .single
    width: 100%
    background: $white
    padding: 20px
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .1)

    +sm
      padding: 40px

    .single-content
      margin-bottom: 20px
      border-radius: 4px

    .back
      +flexbox(row nowrap, flex-start, center, center)
      cursor: pointer
      margin-bottom: 20px

      &:hover
        span
          opacity: 1
          left: 0

        svg
          .arrow
            fill: $primary

      svg
        width: 30px
        margin-right: 10px

        .fil1
          fill: none

        .arrow
          fill: $text

      span
        color: $primary
        opacity: 0
        position: relative
        font-size: 1.2rem
        left: -20px
        transition: opacity .3s, left .3s

    .title
      color: $primary
      font-size: 3rem

    .subtitle
      color: $text
      font-size: 1.4rem
      text-transform: uppercase
      border-bottom: 1px solid lighten($text, 30%)
      margin-bottom: 20px
      padding-bottom: 10px
      font-weight: bold

    .description
      margin-bottom: 20px

      +md
        padding-right: 20%

      p
        line-height: 1.8
        margin-bottom: 16px
        @extend .default-text

    .single-info
      p
        line-height: 1.8
        @extend .default-text

      a
        color: $primary

      b
        font-weight: bold

    .details
      margin-bottom: 20px

    .hours
      +sm
        +flexbox(row nowrap, space-between, center, center)

      b
        text-transform: uppercase

        +sm
          font-size: 1.2rem
          display: block
          text-align: center

      p
        +sm
          font-size: 1.2rem
